body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
  background: #000;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

nav {
  background: rgba(51, 51, 51, 0);
  -webkit-box-shadow: none;
          box-shadow: none;
  margin: 0 auto;
}

.change {
  background: rgba(226, 226, 226, 0);
}

.change .nav-wrapper {
  color: #333;
}

.navbar-fixed {
  position: fixed;
}

.nav-wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

.section {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section h1,
.section p {
  margin: 0 auto;
}

.section1 {
  min-height: 100vh;
  color: #000;
  background-image: url("../img/bg1.jpg");
  background-size: cover;
  color: black;
}

.title-content {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 500px;
  height: 500px;
  background: #fe9627a6;
  border-radius: 50%;
}

.title-content h1 {
  font-size: 8rem;
  font-family: "Megrim";
  -webkit-text-fill-color: #111;
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 5px;
  -webkit-text-stroke-color: #111;
}

.title-content p {
  font-size: 2rem;
  color: #111;
}

@media screen and (max-width: 550px) {
  .title-content {
    width: 300px;
    height: 300px;
  }
  .title-content h1 {
    font-size: 5rem;
  }
  .title-content p {
    font-size: 1.5rem;
  }
}

.section2 {
  position: relative;
  background-color: rgba(1, 58, 107, 0.432);
  color: white;
  background-image: -webkit-linear-gradient(30deg, #013A6B 50%, #004E95 50%);
}

.section2-content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.section2-content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content {
  margin: 20px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background: #022441;
  width: 300px;
  padding: 20px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  height: 100px;
  cursor: pointer;
}

.content .content-img {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  -webkit-transform: rotateY(90deg);
          transform: rotateY(90deg);
  opacity: 0;
  height: 0;
}

.content .content-text {
  -webkit-transform: rotateY(90deg);
          transform: rotateY(90deg);
  opacity: 0;
  height: 0;
  padding: 10px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.content .content-title {
  font-size: 1rem;
  position: absolute;
  width: 300px;
  margin-left: -150px;
  top: 0;
  left: 50%;
  font-family: "Megrim";
}

.content:hover {
  background: #02204e;
  height: 400px;
}

.content:hover .content-img {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  height: auto;
  opacity: 1;
}

.content:hover .content-text {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  height: auto;
  opacity: 1;
}

.content:hover .content-title {
  position: static;
  margin-left: 0;
  width: auto;
}

.section3 {
  background: #333;
  background-image: -webkit-linear-gradient(-30deg, #333 50%, #555 50%);
}

.page-footer {
  background: #333;
  background-image: -webkit-linear-gradient(0deg, #333 50%, #555 50%);
}

canvas {
  display: block;
  vertical-align: bottom;
}

/* ---- particles.js container ---- */
#particles-js,
#particles-js2 {
  pointer-events: all;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

#particles-js2 {
  z-index: -1;
}
/*# sourceMappingURL=main.css.map */