body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
}

main {
  flex: 1 0 auto;
}

.section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h1,
  p {
    margin: 0 auto;
  }
}

.section1 {
  min-height: calc(100vh - 64px); //background: #333;
  background-attachment: local;
  background-size: cover;
  color: white;
}

.section2 {
  background: lightblue;
}

/* The only rule that matters */

#video-background {
  /*  making the video fullscreen  */
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
}

/* These just style the content */

article {
  /*  just a fancy border  */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 10px solid rgba(255, 255, 255, 0.5);
  margin: 10px;
}