body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
  background: #000;
}

main {
  flex: 1 0 auto;
}

nav {
  background: rgba(51, 51, 51, 0);
  box-shadow: none;
  margin: 0 auto;
}

.change {
  background: rgba(226, 226, 226, 0);
  .nav-wrapper {
    color: #333;
  }
}

.navbar-fixed {
  position: fixed;
}

.nav-wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

.section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h1,
  p {
    margin: 0 auto;
  }
}

.section1 {
  min-height: 100vh; //background: #333;
  color: #000; //background: #333;
  background-image: url("../img/bg1.jpg");
  background-size: cover;
  color: black;
}

.title-content {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  height: 500px;
  background: #fe9627a6;
  border-radius: 50%;
  h1 {
    font-size: 8rem;
    font-family: "Megrim";
    -webkit-text-fill-color: #111;
    /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: #111;
  }
  p {
    font-size: 2rem;
    color: #111;
  }
}

@media screen and (max-width: 550px) {
  .title-content {
    width: 300px;
    height: 300px;
    h1 {
      font-size: 5rem;
    }
    p {
      font-size: 1.5rem;
    }
  }
}

// Section 2
.section2 {
  position: relative;
  background-color: rgba(1, 58, 107, 0.432);
  color: white;
  background-image: -webkit-linear-gradient(30deg, #013A6B 50%, #004E95 50%);
}

.section2-content-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.section2-content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content {
  margin: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 300px;
  padding: 20px;
  transition: all .2s ease-in-out;
  .content-img {
    height: calc(1/3);
    background: rgb(2, 36, 65);
    padding-top: 20px;
    transform: translateY(125px);
    opacity: 0;
    transition: all .2s ease-in-out;
    img {
      height: 200px;
      width: 200px;
    }
  }
  .content-text {
    height: 200px;
    background: rgb(2, 36, 65);
    padding: 10px;
    transform: translateY(-125px);
    opacity: 0;
    transition: all .2s ease-in-out;
    transition-delay: .2s;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .content-title {
    height: calc(1/3);
    background: rgb(2, 36, 65);
    font-size: 1rem;
    font-family: "Megrim";
    z-index: 2;
    h3 {
      margin: 20px 0;
    }
  }
}

.content:hover {
  .content-img {
    transform: translateY(0px);
    opacity: 1;
  }
  .content-text {
    transform: translateY(0px);
    opacity: 1;
  }
  .line {}
}

// Section 3
.section3 {
  background: #333;
  background-image: -webkit-linear-gradient(-30deg, #333 50%, #555 50%);
  display: flex;
  flex-direction: row;
  h2 {
    font-family: "Megrim";
    font-size: 4rem;
  }
  .section3-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    text-align: center;
    color: white;
  }
  .section3-video-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    iframe {
      margin: 0 auto;
    }
  }
}

.action-blurb {
  font-family: "Megrim";
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  .action {
    opacity: 0;
    font-size: 3rem;
    padding: 0 10px;
    transition: all .4s ease-in-out;
    transform: scale(0.2);
  }
}

.in-view {
  animation-name: "in-view" !important;
  animation-direction: forwards;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

@keyframes in-view {
  0% {
    transform: scale(0.2);
    opacity: 0;
  }
  80% {
    transform: scale(1.1) rotate(2deg);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

// Footer
.page-footer {
  background: #333;
  background-image: -webkit-linear-gradient(0deg, #333 50%, #555 50%);
}

canvas {
  display: block;
  vertical-align: bottom;
}

// Other Stuff
/* ---- particles.js container ---- */

#particles-js,
#particles-js2 {
  pointer-events: all;
  position: absolute;
  width: 100%; //background-color: #333;
  height: 100%; //background-color: #b61924;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%; //z-index: -10;
}

#particles-js2 {
  z-index: -1;
}