body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
  background: #000;
}

main {
  flex: 1 0 auto;
}

nav {
  background: rgba(51, 51, 51, 0);
  box-shadow: none;
  margin: 0 auto;
}

.change {
  background: rgba(226, 226, 226, 0);
  .nav-wrapper {
    color: #333;
  }
}

.navbar-fixed {
  position: fixed;
}

.nav-wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

.section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  pointer-events: none;
  h1,
  p {
    margin: 0 auto;
  }
}

.section1 {
  min-height: 100vh; //background: #333;
  color: #000; //background: #333;
  background-image: url("../img/bg1.jpg");
  background-size: cover;
  color: black;
}

.title-content {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  height: 500px;
  background: #fe9627a6;
  border-radius: 50%;
  h1 {
    font-size: 8rem;
    font-family: "Megrim";
    -webkit-text-fill-color: #111;
    /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: #111;
  }
  p {
    font-size: 2rem;
    color: #111;
  }
}

@media screen and (max-width: 550px) {
  .title-content {
    width: 300px;
    height: 300px;
    h1 {
      font-size: 5rem;
    }
    p {
      font-size: 1.5rem;
    }
  }
}

.section2 {
  position: relative;
  background-color: #013A6B;
  color: white;
  background-image: -webkit-linear-gradient(30deg, #013A6B 50%, #004E95 50%);
}

.page-footer {
  background: #333;
}

canvas {
  display: block;
  vertical-align: bottom;
}

/* ---- particles.js container ---- */

#particles-js,
#particles-js2 {
  pointer-events: all;
  position: absolute;
  width: 100%; //background-color: #333;
  height: 100%; //background-color: #b61924;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%; //z-index: -10;
}

#particles-js2 {
  //background: rgb(65, 180, 218);
  //background: white;
}